RewriteEngine On # Activer le module Rewrite

RewriteRule ^users/?$ api/users/read.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ api/users/read_single.php?id=$1

RewriteRule ^tasks/?$ api/tasks/read.php [NC,L]
RewriteRule ^[^/]+/(\d+)$ api/tasks/read.php?id=$1